@import "../color-palette/color-palette";
@import "../fonts-example/Fonts";

.uploadWrapper {
  width: 100%;

  .dragzone {
    @extend .border-color-gray;
    @extend .border-radius;
    box-sizing: border-box;
    border-style: dashed;
    border-width: 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;

    &.isDragging, &:hover {
      @extend .border-color-black;
      border-style: solid;
      box-shadow: inset 0 0 0 1px RGB($BLACK);
    }

    .icon {
      @extend .color-black;
      height: 64px;
      width: 64px;
      margin-top: 8px;
    }

    .text {
      @extend .Text_14-24_Black;
    }
  }
}


