@import "../color-palette/color-palette";

.handlebar {
  cursor: col-resize;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 32px;
  height: 100%;
  transition: opacity .15s ease-in-out .15s;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  .bar {
    @extend .bg-color-gray;
    border-radius: 1px;
    cursor: col-resize;
    flex-grow: 1;
    transition: background-color .15s ease-in-out;
    min-height: 34px;
    width: 2px;
  }
  .iconContainer {
    cursor: col-resize;
    width: 32px;
    height: 32px;
  }
}

.handlebar.pressed {
  .bar {
    @extend .bg-color-black;
  }
}
